.project-heading{
    text-align: center;
    padding: 9rem 0em 2rem 0;
}

.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.project-card{
    background: #413838;
    padding: 1.2rem 1rem;
    max-width: 25rem;
    box-shadow: -3px -5px 6px rgba(47, 255, 0, 0.9);
} 

.project-card img{
    width: 100%;
}

.project-title{
    color: #fff;
    padding: 1rem 0;
}

.project-detail p{
    margin-bottom: 1rem;
}

.project-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-button .btn{
    display: flex;
    justify-content: center;
    min-width: 0.5rem;
    border-radius: 11px;
    margin: 1rem;
}

@media screen and (max-width: 880px){
    .project-container{
        max-width: 66%;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 444px){
    .project-card{
        max-width: 18rem;
    } 
    
}